@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');

*,*::after,*::before
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img
{
    width: 100%;
}

:root
{
    --main-bg-color: pink;
    --ui-colour1: rgba(0, 1, 108, 0.918);
    --ui-colour2: rgba(1, 0, 48, 0.911);
}

body
{
    background: rgb(2,4,3);
    background: linear-gradient(180deg, rgba(2,4,3,1) 57%, rgba(85,123,124,1) 83%, rgba(106,150,146,1) 89%);
    background-blend-mode: darken;
    font-family: 'Kanit', sans-serif;
}

.off-canvas-open
{
    overflow-y: hidden;
}

.container-hero
{
    margin: 0 auto;
    max-width: 1200px;
    
    position: relative;
}

.container-main
{
    margin: 0 auto;
    max-width: 1200px;
    background-color: black;
    position: relative;
    padding-block: 10rem;
}

nav
{
    display: flex;
    justify-content: space-between;
    color: white;
    padding: 1rem;
    background-image: linear-gradient(to left bottom, var(--ui-colour1), var(--ui-colour2));
    position: fixed;
    border: 4px solid #ADADAD;
    border-top: none;
    border-radius: 0 0 20px 20px;
    z-index: 50;
    max-width: 1200px;
    width: 100%;
}

.github
{
    background-image: linear-gradient(to left bottom, var(--ui-colour1), var(--ui-colour2));
    border: 4px solid #ADADAD;
    border-radius: 20px;
    position: fixed;
    z-index: 10;
    color: white;
    bottom: 5px;
    right: 20%;
    width: 10%;
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    padding: 1rem;
}

.github a
{
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.github a:hover
{
    color: #ADADAD;
}

.mobile-nav
{
    display: none;
}

.logo-img
{
    flex-basis: 15%;
    padding: 0.4rem 0.4rem;
    border-radius: 10px;
}

nav ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    align-items: center;
    flex-basis: 80%;
}

nav ul li
{
    flex-basis: auto;
    text-align: center;
    position: relative;
}

nav a
{
    color: white;
    display: block;
    text-decoration: none;
    font-size: 1.5rem;
}

.cursor-ff
{
    display: none;
    position: absolute;
    top: 65%;
    left: -40px;
    transform: translate(0, -50%);
}


nav li:hover > .cursor-ff
{
    display: block;
}

nav li:hover > a
{
    color: #ADADAD;
}


nav li a
{
    padding: 1rem;
    
}

.off-canvas
{
    min-height: 91vh;
    width: 100vw;
    background-image: linear-gradient(to left bottom, var(--ui-colour1), var(--ui-colour2));
    border: 4px solid #ADADAD;
    border-radius: 0 20px 20px 0;
    border-left: none;
    position: fixed;
    bottom: 0;
    left: -110%;
    z-index: 50;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    transition: 1s ease-in-out;
    padding-bottom: 1rem;
}

.off-canvas-ui-container
{
    width: 95%;
}
.off-canvas-ui-gil
{
    background-image: linear-gradient(to left bottom, var(--ui-colour1), var(--ui-colour2));
    border: 4px solid #ADADAD;
    border-radius: 10px;
    padding: 1rem;
    color: white;
    width: 50%;
    margin: 0 0 0 50%;
    display: flex;
    flex-wrap: wrap;
}

.ui-gil-box1
{
    flex-basis: 50%;
}

.ui-gil-box2
{
    flex-basis: 50%;
    text-align: right;
}

.ui-gil-box3
{
    flex-basis: 50%;
}

.ui-gil-box4
{
    flex-basis: 50%;
    text-align: right;
}

.off-canvas-ui-location
{
    background-image: linear-gradient(to left bottom, var(--ui-colour1), var(--ui-colour2));
    border: 4px solid #ADADAD;
    border-radius: 10px;
    padding: 1rem;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
}


.active
{
    left: 0;
}

.off-canvas ul
{
    list-style-type: none;
}

.off-canvas ul li
{
    border-bottom: 1px solid white;
}

.off-canvas ul li a
{
    display: block;
    color: white;
    text-decoration: none;
    padding: 2rem;
    font-size: 2rem;
    text-align: center;
}

.off-canvas ul li:last-child
{
    border-bottom: none;
}

.hero-outside
{
    background-image:linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.4)), url("../images/ff7v2.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    min-height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}

.hero
{
    min-height: 100vh;
    max-width: 100%;
    background-color: rgba(0, 0, 0, 0.2);  
}

.hero-text
{
    width: 50%;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -40%);
    text-align: center;
}
.hero-text h1
{
    font-weight: bold;
    font-size: 5rem;
    color: white;
    border-bottom: 3px solid white;
}
.hero-text p
{
    font-weight: bold;
    font-size: 2.5rem;
    color: white;
}

.story-container
{
    position: relative;
    color: white;
    background-image: linear-gradient(to left bottom, var(--ui-colour1), var(--ui-colour2));
    padding: 2rem;
    max-width: 60%;
    border-radius: 10px;
    margin: 0 auto;
    z-index: 5;
    border: 4px solid #ADADAD;
}

.main-overflow
{
    overflow-y: hidden;
    overflow-x: hidden;
}

.story-img-c
{
    position: absolute;
    top: 0;
    right: -30%;
    max-width: 80%;
    z-index: 1;
    opacity: 0.5;
    
}

.story h1
{
    padding: 1rem;
    font-size: 2rem;
    border-bottom: 3px solid white;
    text-align: center;
}

.story p
{
    padding: 1rem;
    font-size: 1.2rem;
    line-height: 1.5;
}

.character-header
{
    color: white;
    padding: 3rem 1rem 1rem 4rem;
    font-size: 2rem;
    border-bottom: 3px solid white;
    max-width: 60%;
    margin: 0 auto;
}

.charcters-grid
{
    border-radius: 20px;
    padding: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: white;
    max-width: 80%;
    margin: 0 auto;
    background-color: rgba(20, 20, 20, 0.603);
}

.character-image
{
    padding: 2rem;
}

.character-text
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.character-card
{
    background-image: linear-gradient(to left bottom, var(--ui-colour1), var(--ui-colour2));
    border-radius: 10px;
    color: rgb(209, 209, 209);
    padding: 1rem 1rem 3rem 1rem;
    border: 4px solid #ADADAD;
    flex-basis: 90%;
}

.character-card h3
{
    border-bottom: 3px solid #ADADAD;;
    color: white;
    padding-left: 1rem;
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
}

.card-grid
{
    display: grid;
    margin: auto;
    row-gap: 0.5rem;
    grid-template-areas: 
    "age . race"
    "gender . height"
    "job job ."
    "weapon weapon .";
}

.card-grid span
{
    font-weight: bold;
    color: rgb(177, 177, 177);
}

.card-grid-age
{
    grid-area: age;
}

.card-grid-race
{
    grid-area: race;
}

.card-grid-job
{
    grid-area: job;
}

.card-grid-gender
{
    grid-area: gender;
}

.card-grid-height
{
    grid-area: height;
}

.card-grid-weapon
{
    grid-area: weapon;
}

.materia
{
    color: white;
    padding: 3rem 1rem 1rem 4rem;
    font-size: 2rem;
    border-bottom: 3px solid white;
    max-width: 60%;
    margin: 0 auto;
    margin-bottom: 3rem;
}

.materia-grid
{
    border-radius: 20px;
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr 4fr ;
    max-width: 80%;
    margin: 0 auto;
    background-image: linear-gradient(to left bottom, var(--ui-colour1), var(--ui-colour2));
    color: rgb(209, 209, 209);
    border: 4px solid #ADADAD;
    gap: 1rem;
}

.materia-image
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.materia-image img
{
    max-width: 100px;
    border-radius: 20px; 
}

.materia-text
{
    padding: 1rem;
    border-bottom: 3px solid #ADADAD;
}

.materia-text:last-child
{
    border-bottom: none;
}

.summon-grid
{
    background-color: #ADADAD;
    padding: 2rem;
    max-width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    gap: 2rem;
    border: 3px solid #ADADAD;
    background-image: linear-gradient(to left bottom, var(--ui-colour1), var(--ui-colour2));
    border-radius: 20px;
    color: #ADADAD;
    
}

.summon-image
{
    max-width: 200px;
}

.summon-text
{
    display: flex;
    flex-flow: column;
    justify-content: center;
    padding: 1rem;
    border-bottom: 3px solid #ADADAD;
}

.summon-text h3
{
    color: white;
    font-size: 2rem;
}

.summon-span
{
    color: white;
}

.image-gallery-grid
{
    border-radius: 20px;
    padding: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    color: white;
    max-width: 80%;
    margin: 0 auto;
    gap: 2rem;
    border: 3px solid #ADADAD;
    background-image: linear-gradient(to left bottom, var(--ui-colour1), var(--ui-colour2));
}


@media screen and (min-width: 1025px) and (max-width: 1440px){
    .github
    {
        width: 15%;
        right: 10%;
    }
}

@media screen and (min-width: 766px) and (max-width: 1024px){


    .hero
    {
        min-height: 100vh;
    }

    .hero-text h1
    {
        font-size: 3.2rem;
    }
    .hero-text p
    {
        font-size: 1.8rem;
    }
   
    .story-img-c
    {
        top: 20%;
        transform: translate(0, -20%);
    }
    .charcters-grid
    {
        max-width: 100%;
    }

    .github
    {
        width: 20%;
        right: 5%;
    }

    .off-canvas ul
    {
        width: 90%;
    }

    .off-canvas ul li a
    {
        font-size: 2rem;
    }
}

@media screen and (max-width: 765px){

    .logo-img
    {
        padding: 0;
    }
    
    .hero
    {
        min-height: 100vh;
    }
    .container-hero
    {
        margin: 0 auto;
        max-width: 1200px;
        position: relative;
        padding-bottom: 5rem;
    }

    .container-main
    {
        margin: 0 auto;
        max-width: 1200px;
        background-color: black;
        position: relative;
        padding-block: 5rem;
    }
    .hero-text h1
    {
        font-size: 1.8rem;
    }
    .hero-text p
    {
        font-size: 1.2rem;
    }

    nav ul
    {
        display: none;
    }

    .mobile-nav
    {
        display: block;
    }

    .charcters-grid
    {
        grid-template-columns: 1fr;
        max-width: 100%;
        row-gap: 2rem;
    }

    [data-character-image="cloud"]
    {
        order: 1;
        max-width: 300px;
        max-height: 300px;
        margin: 0 auto;
    }
    [data-character-text="cloud"]
    {
        order: 2;
    }
    [data-character-image="barr"]
    {
        order: 3;
        max-width: 300px;
        max-height: 300px;
        margin: 0 auto;
    }
    [data-character-text="barr"]
    {
        order: 4;
    }
    [data-character-image="tifa"]
    {
        order: 5;
        max-width: 300px;
        max-height: 300px;
        margin: 0 auto;
    }
    [data-character-text="tifa"]
    {
        order: 6;
    }
    [data-character-image="art"]
    {
        order: 7;
        max-width: 300px;
        max-height: 300px;
        margin: 0 auto;
    }
    [data-character-text="art"]
    {
        order: 8;
    }
    [data-character-image="red"]
    {
        order: 9;
        max-width: 300px;
        max-height: 300px;
        margin: 0 auto;
    }
    [data-character-text="red"]
    {
        order: 10;
    }
    [data-character-image="cait"]
    {
        order: 11;
        max-width: 300px;
        max-height: 300px;
        margin: 0 auto;
    }
    [data-character-text="cait"]
    {
        order: 12;
    }
    [data-character-image="cid"]
    {
        order: 13;
        max-width: 300px;
        max-height: 300px;
        margin: 0 auto;
    }
    [data-character-text="cid"]
    {
        order: 14;
    }
    [data-character-image="seph"]
    {
        order: 15;
        max-width: 300px;
        max-height: 300px;
        margin: 0 auto;
    }
    [data-character-text="seph"]
    {
        order: 16;
    }

    .character-card h3
    {
        font-size: 1.5rem; 
    }

    .story h1
    {
        font-size: 1.5rem;   
    }

    .story p
    {
        font-size: 1rem;
        line-height: 1.2;
    }

    .story-container
    {
        padding: 1rem;
        max-width: 80%;
    }

    .story-img-c
    {
        display: none;
    }

    .materia-grid
    {
        grid-template-columns: 1fr ;
        gap: 2rem;
    }

    .image-gallery-grid
    {
        grid-template-columns: 1fr;
    }

    .github
    {
        width: 40%;
        right: 5%;
        height: 80px;
        padding: 1rem;
    }

    .summon-grid
    {
        grid-template-columns: 1fr;
    }

    .summon-image
    {
        margin: 0 auto;
    }

    .github-img
    {
        display: none;
    }

    .github p
    {
        padding: 0.5rem;
    }

    .off-canvas ul li a
    {
        font-size: 1.2rem;
    }
    


    
}
